<md-dialog class="dialog-large" style="min-width: 650px" aria-label="Send for signing dialog">
    <form name="form" novalidate>

        <md-toolbar layout>
            <div class="md-toolbar-tools">
                <h2>{{ 'ADDO.DOCUMENT.SEND_FOR_SIGNING' | translate }}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-input-container layout='column'>
                <label>{{ 'ADDO.DOCUMENT.SIGNATURE_TEMPLATE' | translate }}</label>
                <md-select ng-model="addoDialog.model.template" required>
                    <md-option ng-repeat="addoTemplate in addoDialog.templates" ng-value="addoTemplate">{{addoTemplate.FriendlyName}}</md-option>
                </md-select>
            </md-input-container>
            <div layout='row'>
                <md-chips ng-model="addoDialog.model.receivers" md-autocomplete-snap md-require-match="true" flex>
                    <md-autocomplete md-selected-item="addoDialog.selectedItem" 
                                     md-search-text="addoDialog.searchText" 
                                     md-items="item in addoDialog.querySearch(addoDialog.searchText)" 
                                     placeholder="{{ 'ADDO.DOCUMENT.CHOOSE_RECEIVERS'| translate }}">
                        <span md-highlight-text="addoDialog.searchText">{{item.firstName + ' ' + item.lastName}} ({{item.cprNumber}}, {{item.email}})</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                            <strong>{{$chip.firstName + ' ' + $chip.lastName}}</strong>
                            <em>({{$chip.email}})</em>
                        </span>
                    </md-chip-template>
                </md-chips>
                <md-button 
                    ng-show="('can_create_contacts' | oeParam)"
                    ng-click="addoDialog.newContact($event)" 
                    title="{{ 'CONTACT.CREATE_NEW_CONTACT'| translate }}" 
                    style='min-width: 15px; max-height: 36px;'>+ {{ 'COMMON.NEW' | translate }}</md-button>
            </div>

            <md-input-container layout='column'>
                <md-checkbox ng-model="addoDialog.model.sequential" ng-show="addoDialog.model.receivers.length > 1">{{'ADDO.DOCUMENT.SEQUENTIAL_SIGNING'| translate}}</md-checkbox>
            </md-input-container>

            <h3>{{"DOCUMENT.DOCUMENTS"| translate}}</h3>
            <case-docs-selector docs-folder-node-ref="addoDialog.model.docsFolderRef" selected-docs="addoDialog.selectedDocuments"
                direct-child-select="true"
                item-addon-src="'app/src/modules/addo/view/caseDocsSelectorAddoAddon.html'">
            </case-docs-selector>
            
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" ng-click="addoDialog.send(form)" 
                       ng-disabled="form.$invalid || !addoDialog.isSigningDocSelected() || addoDialog.model.receivers.length === 0">
                {{ 'ADDO.DOCUMENT.REQUEST_SIGNATURE' | translate }}
            </md-button>
            <md-button ng-click="addoDialog.cancel()">
                {{ 'COMMON.CANCEL' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>