<app-header></app-header>
<md-content layout="column">
    <div class="sub-toolbar md-whiteframe-3dp" layout="row" layout-align="space-between center" layout-padding>
        <h3 class="md-headline" layout-margin>{{ 'PROJECT_ROOM.PROJECT_ROOMS' | translate }}</h3>
    </div>
    <div layout="column">
        <md-card>
            <md-card-content>
                <div class="tlist">
                    <div class="tlist__header" layout="row">
                        <div class="tlist__cell icon" flex="none"></div>
                        <div class="tlist__cell" flex>
                            <div layout="row" layout-align="space-between center">
                                {{ 'COMMON.TITLE' | translate }}
                            </div>
                        </div>
                        <div class="tlist__cell" flex="30">
                            <div layout="row" layout-align="space-between center">
                                {{ 'COMMON.DESCRIPTION' | translate }}
                            </div>
                        </div>
                        <div class="tlist__cell" flex="15">
                            <div layout="row" layout-align="space-between center">
                                {{ 'COMMON.CREATEDBY' | translate }}
                            </div>
                        </div>
                        <div class="tlist__cell" flex="15">
                            <div layout="row" layout-align="space-between center">
                                {{ 'COMMON.CREATED' | translate }}
                            </div>
                        </div>
                    </div>
                    <md-virtual-repeat-container class="tlist__body" flex-height>
                        <div md-virtual-repeat="room in prCtrl.rooms" class="tlist__item" layout="column" flex>
                            <a class="tlist__item__link" href="#/project/room/{{room.shortName}}" layout="row">
                                <span class="tlist__cell tlist__cell_icon" flex="none"><i class="material-icons">thumbs_up_down</i></span>
                                <span class="tlist__cell" flex>{{ room.title }}</span>
                                <span class="tlist__cell muted" flex="30">{{ room.description }}</span>
                                <span class="tlist__cell muted" flex="15">{{ room.creator.firstName + ' ' + room.creator.lastName }}</span>
                                <span class="tlist__cell muted" flex="15">{{ room.createdDate | openeDate }}</span>
                            </a>
                        </div>
                    </md-virtual-repeat-container>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
<app-footer></app-footer>
